#client-nav-bar {
  width: 10%;
  height: 150%;
  /* background-color: var(--tertiary-color); */
  background-color: darkblue;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

#client-nav-bar > span {
  width: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* float: right; */
  margin-top: 10px;
}

#client-bar-info {
  height: 40%;
  margin-bottom: 280px;

}
#client-bar-info h3 {
 font-size: 1.5rem;
 font-weight: bold;

}


#client-bar-info > * {
  color: var(--primary-color);
  font-size: 0.8rem;
}

#client-nav-bar a {
  font-size: 2.5rem;
  color: var(--primary-color);
}
