#client-cont {
  width: 99.9vw;
  height: 99.9vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

#client-signup {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.client-signup-updates-card{
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 20px 100px;
  margin-left: -50px;
}
.client-signup-payment-card {
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: -50px;
  padding: 70px 40px;
} 
.client-signup-updates-card h3{
  margin-top: 10px;
  margin-bottom: 20px;
  color: darkblue;
} 
.client-signup-payment-card h3{
 color: darkblue;
 margin-top: -10px;
}

button[type="approve"] {
  background-color: rgb(139, 171, 190);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

button[type="approve"]:hover {
  background-color: darkblue;
}
/* #client-signup > form,
#client-signup > div {
  width: 100%;
  border: thin solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
} */

#client-signup-card-container{
  display: flex;
  justify-content: space-between;
 flex-direction: column;
}

/* .file-upload-input::file-selector-button {
  background-color: #007bff;
  color: #fff;
  padding: 1vh 2vh;
  border: none;
  border-radius: 4px;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.file-upload-input::file-selector-button:hover {
  background-color: #0069d9;
} */
